

.accordion {}

.accordion--item {
  list-style: none;
  display: block;
  width: 100%;
  position: relative;
}

.accordion--heading {
  text-align: center;
  width: 100%;
  background: #ccc;
  cursor: pointer;
}

.accordion--shelf {
  position: relative;
}

.accordion--shelf-wrapper{
  position: absolute;
  top: 0;
  width: 100%;
}

.accordion--shelf-wrapper img {
  display: block;
  margin: 0 auto;
  position: relative;
}